{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block title %}
    Delete Post
{% endblock %}

{% block content %}
    <h1>Delete post {{ post.id }}</h1>
    <p>Are you sure you want to delete <strong>"{{ post.title }}"</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm" class="btn btn-outline-danger">
        <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Cancel</a>
    </form>

    <div style="min-height: 600px;"></div>
    
{% endblock %}