{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block title %}
    Edit Post
{% endblock %}

{% block content %}
    <h1>Edit post {{ post.id }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Edit" class="btn btn-success">
    </form>
    <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Cancel</a>
{% endblock content %}