{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block title %}
    Edit Post
{% endblock %}

{% block content %}

<div class="container py-5" style="max-width: 500px;">
    <h1 class="fw-bold mb-4" >Edit post {{ post.id }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Edit" class="btn btn-dark">
        <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">Cancel</a>
    </form>
    
</div>

<div style="min-height: 150px;"></div>

{% endblock content %}