{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/list.css' %}">
{% endblock %}

{% block title %}
    Post
{% endblock title %} 

{% block content %}
<div class="container py-3">

    <h1 class="fw-bold mb-4 mt-5">All Post</h1>
    <ul>
        {% for item in posts %}
        <div class="card mb-4 shadow-sm p-3 bg-light">
            <div class="card-body">
            <h3 class="card-title">{{ item.title }}</h3>
            <p class="card-text">{{ item.body|truncatechars:100 }}</p>
            <a href="{% url 'post_detail' item.id %}">Continue reading...</a>
            </div>
        </div>
        {% endfor %}
    </ul>

</div>
{% endblock content %} 