{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/new.css' %}">
{% endblock %}

{% block title %}
    New Post
{% endblock %}

{% block content %}
    <div class="container py-5" style="max-width: 500px;">
        <h1 class="fw-bold mb-4">Create new post</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_div }}
        <input type="submit" value="Create" class="btn btn-dark mt-3">
        </form>
    </div>

    <div style="min-height: 190px;"></div>

{% endblock content %}